* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.center-text {
    text-align: center;
    font-size: 3.8rem;
    background-image: linear-gradient(to right, #d2bba0, #f2efce);
}

.secondary-heading {}

.tertiary-heading {
    font-size: 2rem;
}


.navbar-brand {
    font-size: 2rem;
    margin-left: 30rem;
}

.nav-item2 {
    margin-right: 10rem;
    margin-left: 1rem;
}



.navbar {
    font-size: 1.4rem;
    opacity: .8;
    border-bottom: 2px solid #9f7e69;
}



.bio {
    display: flex;
    align-items: center;
    width: 65%;
    margin: 0 auto 2rem;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .6);
    background-color: rgba(white, .90%);
    border-top-right-radius: 2rem;
    border-top: .8rem solid #d2bba0;
    border-right: .8rem solid #d2bba0;
    padding: 3rem;
    transform: skewX(-12deg);
    margin: 10rem auto;
}

.bio__shape,
.bio__text {
    transform: skewX(12deg);
}


.bio__img {
    border-radius: 50%;
    margin-right: 2rem;
    position: relative;
}

.navbar-brand {
    font-size: 1.9rem;
    margin-left: 20rem;
}

.nav-item2 {
    margin-right: 23rem;
    margin-left: 1rem;
}

.navbar {
    font-size: 1.4rem;
    opacity: .8;
    border-bottom: 5px solid #9f7e69;
}

.bio__text {
    font-size: 1.4rem;
}

/* hovering effect for caption */
.bio__caption {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .4s;
    backface-visibility: hidden;
}

.bio:hover .bio__caption {
    /* this allows me to hover over a child*/
    opacity: 1;
    transform: translate(-50%, -50%);
}


/* hovering effect for image inside caption */
.bio:hover .bio__img {
    filter: blur(1px) brightness(80%);

}

/* Background video CSS */

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .60;

}

.bg__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}




.bio__text {}




/* Media queries */

@media (max-width: 976px) {
    .navbar-brand {
        margin-left: 3rem;
    }
}

@media (max-width: 576px) {
    .bio {
        flex-direction: column;
        flex: 0 0 100%;
        transform: skewX(0deg);
    }

    .bio__shape,
    .bio__shape img,
    .bio__text {
        transform: skewX(0deg);
    }

    .bio__shape img {
        margin-bottom: 2rem;
    }

    .bg-video {
        display: none;
    }

    .navbar-brand {
        margin-left: 0;

    }
}