/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
body {
  background-color: beige;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.feature__heading {
  text-align: center;
  font-size: 3rem;
  margin: 2rem;
}
.navbar {
  opacity: 0.8;
  border-bottom: 5px solid #ef9797;
}
.display-4 {
  margin-bottom: 2rem;
}
.jumbotron {
  overflow: hidden;
  margin: 0;
}
.jumbo-image-div {
  border: 1rem solid #f2efc7;
  border-radius: 10px;
}
.jumbo-image {
  max-width: 100%;
  height: auto;
}
.header img {
  margin-right: auto;
}
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.features > div {
  background-color: white;
  box-shadow: 5px 5px 5px #888;
  border-radius: 5px;
  padding: 3rem;
  margin: 2rem;
  width: 44%;
}
@media (max-width: 960px) {
  .features > div {
    width: 40%;
    flex-wrap: nowrap;
  }
}
@media (max-width: 580px) {
  .features > div {
    width: 100%;
    padding: 1rem;
  }
}
.app_feature {
  font-size: 1.4rem;
  line-height: 1.3;
  border-top: 2rem solid #7ccec5;
}
.app_feature:hover {
  transform: scale(1.1, 1.1);
  transition: 0.3s;
  backface-visibility: hidden;
}
.mission {
  background-color: #f2efc7;
  padding: 2.5rem;
  font-size: 1.6rem;
  line-height: 1.2;
  border-bottom: 5px inset #7ccec5;
}
.mission_link {
  text-decoration: none;
}
.mission_link:hover {
  color: #d2bba0;
  text-decoration: none;
}
.cta {
  padding: 3.5rem 0;
  text-align: center;
  background-color: #fff;
  border-top: 5px outset #d2bba0;
}
.cta__header {
  font-size: 2rem;
  font-weight: lighter;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
.btn {
  font-size: 1.5rem;
  font-weight: lighter;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, #9f7e69, #d2bba0);
  position: relative;
  overflow: hidden;
}
.btn:a {
  color: #fff;
}
.btn__visible {
  display: inline-block;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 1rem 4.5rem;
  transition: all 0.5s;
}
.btn__invisible {
  display: inline-block;
  color: #fff;
  position: absolute;
  padding: 1.3rem;
  height: 100%;
  width: 100%;
  left: 0;
  top: -100%;
  transition: all 0.5s;
}
.btn:hover .btn__visible {
  transform: translateY(100%);
}
.btn:hover .btn__invisible {
  top: 0;
}
