.feature__heading {
    text-align: center;
    font-size: 3rem;
    margin: 2rem;


}

.navbar {

    opacity: .8;
    border-bottom: 5px solid #ef9797;
}

// *****************nav bar query
@media(max-width: 580px) {
    .nav-link {
        padding: 0;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }

    .navbar-nav {
        font-size: .8rem;
    }
}

.display-4 {
    margin-bottom: 2rem;

    @media(max-width: 665px) {
        margin-top: 3rem;
        margin-bottom: 1rem;
        font-size: 1.9rem;
    }
}

.jumbotron {
    overflow: hidden;
    margin: 0
}

.jumbo-image-div {
    border: 1rem solid #f2efc7;
    border-radius: 10px;

}

.jumbo-image {
    max-width: 100%;
    height: auto;

}

.header img {
    margin-right: auto;
}