.feature__heading {
    text-align: center;
    font-size: 3rem;
    margin: 2rem;


}

.features {
    display: flex;
    flex-wrap: wrap;


}



.features>div {
    background-color: white;
    box-shadow: 5px 5px 5px #888;
    border-radius: 5px;
    padding: 3rem;
    margin: 2rem;
    width: 45%;

}

.app_feature:hover {

    transform: scale(1.1, 1.1);
    transition: .3s;
}