.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}



.features>div {
    background-color: white;
    box-shadow: 5px 5px 5px #888;
    border-radius: 5px;
    padding: 3rem;
    margin: 2rem;
    width: 44%;

}

.app_feature:hover {

    transform: scale(1.1, 1.1);
    transition: .3s;
}

.mission {
    // border: 2px solid black;
    background-color: #f2efc7;
    padding: 2.5rem;
    font-size: 1.6rem;
    border-bottom: 5px inset #d2bba0;

}

.mission:hover a {
    text-decoration: none;
}