.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.features>div {
    background-color: white;
    box-shadow: 5px 5px 5px #888;
    border-radius: 5px;
    padding: 3rem;
    margin: 2rem;
    width: 44%;


    @media (max-width: 1200px) {
        width: 40%;
        flex-wrap: nowrap;
    }

    @media (max-width: 960px) {
        width: 40%;
        flex-wrap: nowrap;
    }

    @media(max-width: 580px) {
        width: 100%;
        padding: 1rem;
    }

}


.app_feature {
    font-size: 1.4rem;
    line-height: 1.3;
    border-top: 2rem solid #7ccec5;



}

.app_feature:hover {

    transform: scale(1.1, 1.1);
    transition: .5s;
    backface-visibility: hidden;
}



.mission {
    // border: 2px solid black;
    display: flex;
    background-color: #f2efc7;
    padding: 2.5rem;
    font-size: 1.5rem;
    line-height: 1.2;
    border-bottom: 5px inset #7ccec5;



    @media(max-width: 765px) {
        // text-align: justify;
        word-spacing: 1px;
    }

    .mission_link {
        text-decoration: none;
    }

    .mission_link:hover {
        color: #ef9797;
        // text-decoration: none;
    }

    .mission_lambda:hover {
        color: crimson;
        text-decoration: none;
    }

    .mission-para {
        flex: 1 1 50%;
        line-height: 1.4;
        background-color: white;
        margin: 0 2rem;
        padding: 1rem;
        border-radius: 5px;
        box-shadow: 5px 5px 5px #888;
        border-top: 2rem solid #ef9797;

        @media(max-width: 1200px) {
            font-size: 1.3rem;
        }


    }
}